@inherits HypinessComponent


@if (Header is not null)
{
    <div class="hyp-card-header-o">
        <div class="hyp-card-header-i">
            @Header
        </div>
    </div>
}

<div class="hyp-card-body" @attributes="InputAttributes">
    @if (Body is not null)
    {
        @Body
    }
    else
    {
        @ChildContent
    }
</div>

@if (Footer is not null)
{
    <div class="hyp-card-divider"></div>
    <div class="hyp-card-footer">
        @Footer
    </div>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }
}
