@using BlazorHypiness.Constants;
@inherits HypinessComponent


@if (Header is not null)
{
    <div class="hyp-card-header-o">
        <div class="hyp-card-header-i">
            @Header
        </div>
    </div>
}

<div class="hyp-card-body @CompiledCss" @attributes="InputAttributes">
    @if (Body is not null)
    {
        @Body
    }
    else
    {
        @ChildContent
    }
</div>

@if (Footer is not null)
{
    <div class="hyp-card-divider"></div>
    <div class="hyp-card-footer @(IsGrayFooter?BG_GRAY:Strings.EMPTY_STRING)">
        @Footer
    </div>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private const string BG_GRAY = "hyp-bg-gray-50";

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public bool IsGrayFooter { get; set; }

    [Parameter]
    public bool IsGrayBody { get; set; }

    protected override CssBuilder BuildCss(CssBuilder builder)
    {
        if (IsGrayBody)
            builder.Add(BG_GRAY);
        return base.BuildCss(builder);
    }
}
