@inherits HypinessComponent

<div class="hyp-stretched-container @CompiledCss">
    @ChildContent
</div>

@code{
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;
}

